- image = content_for(:image) ? yield(:image) : "http://res.cloudinary.com/hollyandpine/image/upload/w_526,h_275,c_fill,g_north/v1511467216/Product%20Images/Group%20Photos/69CE9FE4-F0EA-468B-8195-8336BCA5C11E.jpg"

meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1"
meta name="author" content="Teo Dell'Amico"
meta name="robots" content="index, follow"
meta name="revisit-after" content="3 month"

/ Facebook
meta property="og:description" content="Gift Styling and Wrapping | Holly & Pine"
meta property="og:title" content="Holly & Pine"
meta property="og:url" content="http://www.hollyandpine.ca"
meta property="og:image" content=image

/ Twitter
meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@hollyandpine"
meta name="twitter:title" content="Holly & Pine"
meta name="twitter:description" content="Gift Styling and Wrapping | Holly & Pine"
meta name="twitter:image" content=image
